<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />

    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="fileInfoLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/info/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'info'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <!-- seems maxSizeRollBackups cannot work when set preserveLogFileNameExtension to true -->
      <!-- see https://issues.apache.org/jira/browse/LOG4NET-413 for more details -->
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="fileWarnLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/warn/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'warn'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="fileErrorLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/error/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'error'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="fileErrorLogAppender" />
      <appender-ref ref="fileWarnLogAppender" />
      <appender-ref ref="fileInfoLogAppender" />
    </root>
  </log4net>

  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.0.111" port="11211" />
      </servers>
    </memcached>
  </enyim.com>

  <cacheManager>
    <managers>
      <cache name="cache">
        <handle name="enyim.com/memcached" ref="memcache" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memcache" type="CacheManager.Memcached.MemcachedCacheHandle`1, CacheManager.Memcached"
                 defaultExpirationMode="Sliding" defaultTimeout="3m"/>
    </cacheHandles>
  </cacheManager>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SharpNode" providerName="MySQL Data Provider" connectionString="server=ServerInfoStorage;"/>
  </connectionStrings>

  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="ServerInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=192.168.0.111;port=3316;uid=root;password=1234;"/>
            <Server name="master2" IsMaster="true" connectionstring="server=192.168.0.111;port=3317;uid=root;password=1234;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>

  <appSettings>

    <add key="InternalServer"
         value="{
         
         'WorkIp': '127.0.0.1',
         'WorkPort': 9994,
         'WorkProtocol': 'simple-http'
                                
         }" />

    <!--
    <add key="PublicServer"
         value="{
         
         'WorkIp': '127.0.0.1',
         'WorkPort': 9998,
         'WorkProtocol': 'simple-http',
         'AllowOrigin': '*'
                                
         }" />
     -->

    <add key="NodeName" value="BPS1"/>
    <add key="GroupName" value="BPS"/>

    <!-- may set it to empty string if want to run in standalone mode -->
    <add key="ServerInfoStorageName" value="SharpNode"/>

    <add key="Services"
         value="MySharpServer.FrameworkService.dll, 
                MiniBaccarat.BatchProcessServer.BatchUpdate.dll
                "/>

  </appSettings>

</configuration>